body {
  font-size: 62.5%;
}

.header {
  font-size: 5rem;
  font-weight: 1000;
  margin: 1.5rem 0;
}

#game-wrapper {
  text-align: center;
  font-size: 3rem;
}

#cursor {
  color: transparent;
  background: black;
  width: 7px;
  height: 4 rem;
  margin-left: 5px;
}

#input-word-wrapper {
  display: flex;
  justify-content: center;
}
